<!DOCTYPE html>
<html>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
    <title>404 Page Not Found</title>
    <style>
        body{
            overflow: hidden;
        }
    </style>
</head>


<body>
    <div class="navcontainer">
        <nav>
            <div class="nav-logo" onclick="homeRedir()">
                <i class="ri-football-fill"></i>
                <h2 id="Football Stats">FootballDB</h2>
            </div>

            <div class="nav-menu" id="nav-menu">
                <ul class="nav-list">
                    <li>
                        <a href="/#home">Home</a>
                    </li>
                    <li>
                        <a href="/#leagues">Leagues</a>
                    </li>
                    <li>
                        <a href="/#teamheader">Teams</a>
                    </li>
                    <li>
                        <a href="/fulldb">Match DB(A-Z)</a>
                    </li>
                    <li id="search-container">
                        <form id="search-form" action="/fulldb" method="GET">
                            <i class="ri-search-2-line" onmouseover="showSearch()"></i>
                            <input id="searchbar" type="text" name="query" placeholder="Search.."
                                onmouseleave="hideSearch()">
                        </form>
                    </li>



                </ul>
            </div>
        </nav>
    </div>
    <div class="errormsg">
        <h1>404</h1>
        <h3>Page Not Found</h3>
        <h2>It appears the page you're looking for has been tackled away,<br>click the button below to get back to the pitch</h2>
        <button onclick="homeRedir()">Go Back Home</button>
    </div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>