<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <title>LaLiga</title>
</head>


<body>
    <div id="scrollTop" onclick='scrollToTop()'>
        <i class="ri-arrow-up-line"></i>
    </div>

    <div class="navcontainer">
        <nav>
            <div class="nav-logo" onclick="homeRedir()">
                <i class="ri-football-fill"></i>
                <h2 id="Football Stats">FootballDB</h2>
            </div>

            <div class="nav-menu" id="nav-menu">
                <ul class="nav-list">
                    <li>
                        <a href="/#home">Home</a>
                    </li>
                    <li>
                        <a href="/#leagues">Leagues</a>
                    </li>
                    <li>
                        <a href="/#teamheader">Teams</a>
                    </li>
                    <li>
                        <a href="/fulldb">Match DB(A-Z)</a>
                    </li>
                    <li id="search-container">
                        <form id="search-form" action="/fulldb" method="GET">
                            <i class="ri-search-2-line" onmouseover="showSearch()"></i>
                            <input id="searchbar" type="text" name="query" placeholder="Search.."
                                onmouseleave="hideSearch()" onkeydown="searchOnEnter(event)">
                        </form>
                    </li>

                </ul>
            </div>
        </nav>
    </div>

    <div class="league-home seriea">
        <div class="league-content">
            <h2  class="league-title" id="laligatitle"><span>L</span><span>a</span><span>L</span><span>i</span><span>g</span><span>a</span></h2>
            <p>Experience the allure of La Liga, where Barcelona, Real Madrid, Sevilla, and Villarreal ignite football's fiercest battles. In Spain's premier league, passion and skill collide, crafting a thrilling tapestry of footballing brilliance. Find all the standings from past seasons and all match data from your favourite teams.</p>
        </div>
        <div class="league-logo-laliga" data-inViewport='slideRight'>
            <img src="https://static.vecteezy.com/system/resources/previews/010/994/483/non_2x/la-liga-symbol-logo-design-spain-football-european-countries-football-teams-illustration-free-vector.jpg">
        </div>
    </div>

    <div class="stats">
        <h2>League Stats</h2>



        <div class="swiper-stats-container">
            <div class="stats-swiper " data-inviewport="slideTop">
                <div class="swiper-wrapper">


                    <div class="swiper-slide">
                        <div class="statstable" data-inviewport="slideTop">
                            <h1>2013/14 Standings</h1>
                            <table>
                                <tr>
                                    <th>Pos</th>
                                    <th>Team</th>
                                    <th>GP</th>
                                    <th>W</th>
                                    <th>L</th>
                                    <th>D</th>
                                    <th>Pts</th>
                                </tr>
                
                                {%for stats in ll2013%}
                                <tr data-inviewport="slideTop">
                                    <td data-inviewport="slideTop">{{stats.Pos}}</td>
                                    <td data-inviewport="slideTop"><img src="{{stats.Logo}}" width="20" height="20" style="transform: translateY(5px);"> <a href="{{stats.Url}}">{{stats.Team}}</a></td>
                                    <td data-inviewport="slideTop">{{stats.Played}}</td>
                                    <td data-inviewport="slideTop">{{stats.Won}}</td>
                                    <td data-inviewport="slideTop">{{stats.Lost}}</td>
                                    <td data-inviewport="slideTop">{{stats.Drawn}}</td>
                                    <td data-inviewport="slideTop">{{stats.Points}}</td>
                                </tr>
                                {%endfor%}
                            </table>
                        </div>
                    </div>


                    <div class="swiper-slide">
                        <div class="statstable" data-inviewport="slideTop">
                            <h1>2014/15 Standings</h1>
                            <table>
                                <tr>
                                    <th>Pos</th>
                                    <th>Team</th>
                                    <th>GP</th>
                                    <th>W</th>
                                    <th>L</th>
                                    <th>D</th>
                                    <th>Pts</th>
                                </tr>
                
                                {%for stats in ll2014%}
                                <tr data-inviewport="slideTop">
                                    <td data-inviewport="slideTop">{{stats.Pos}}</td>
                                    <td data-inviewport="slideTop"><img src="{{stats.Logo}}" width="20" height="20" style="transform: translateY(5px);"> <a href="{{stats.Url}}">{{stats.Team}}</a></td>
                                    <td data-inviewport="slideTop">{{stats.Played}}</td>
                                    <td data-inviewport="slideTop">{{stats.Won}}</td>
                                    <td data-inviewport="slideTop">{{stats.Lost}}</td>
                                    <td data-inviewport="slideTop">{{stats.Drawn}}</td>
                                    <td data-inviewport="slideTop">{{stats.Points}}</td>
                                </tr>
                                {%endfor%}
                            </table>
                        </div>
                    </div>


                    <div class="swiper-slide">
                        <div class="statstable" data-inviewport="slideTop">
                            <h1>2015/16 Standings</h1>
                            <table>
                                <tr>
                                    <th>Pos</th>
                                    <th>Team</th>
                                    <th>GP</th>
                                    <th>W</th>
                                    <th>L</th>
                                    <th>D</th>
                                    <th>Pts</th>
                                </tr>
                
                                {%for stats in ll2015%}
                                <tr data-inviewport="slideTop">
                                    <td data-inviewport="slideTop">{{stats.Pos}}</td>
                                    <td data-inviewport="slideTop"><img src="{{stats.Logo}}" width="20" height="20" style="transform: translateY(5px);"> <a href="{{stats.Url}}">{{stats.Team}}</a></td>
                                    <td data-inviewport="slideTop">{{stats.Played}}</td>
                                    <td data-inviewport="slideTop">{{stats.Won}}</td>
                                    <td data-inviewport="slideTop">{{stats.Lost}}</td>
                                    <td data-inviewport="slideTop">{{stats.Drawn}}</td>
                                    <td data-inviewport="slideTop">{{stats.Points}}</td>
                                </tr>
                                {%endfor%}
                            </table>
                        </div>
                    </div>


                    <div class="swiper-slide">
                        <div class="statstable" data-inviewport="slideTop">
                            <h1>2016/17 Standings</h1>
                            <table>
                                <tr>
                                    <th>Pos</th>
                                    <th>Team</th>
                                    <th>GP</th>
                                    <th>W</th>
                                    <th>L</th>
                                    <th>D</th>
                                    <th>Pts</th>
                                </tr>
                
                                {%for stats in ll2016%}
                                <tr data-inviewport="slideTop">
                                    <td data-inviewport="slideTop">{{stats.Pos}}</td>
                                    <td data-inviewport="slideTop"><img src="{{stats.Logo}}" width="20" height="20" style="transform: translateY(5px);"> <a href="{{stats.Url}}">{{stats.Team}}</a></td>
                                    <td data-inviewport="slideTop">{{stats.Played}}</td>
                                    <td data-inviewport="slideTop">{{stats.Won}}</td>
                                    <td data-inviewport="slideTop">{{stats.Lost}}</td>
                                    <td data-inviewport="slideTop">{{stats.Drawn}}</td>
                                    <td data-inviewport="slideTop">{{stats.Points}}</td>
                                </tr>
                                {%endfor%}
                            </table>
                        </div>
                    </div>
                    
                    


                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-pagination"></div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        </div>



    </div>







    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>